@using Nergard.ResourceEditor.Features.Shared.Constants

<MudAppBar Bottom="true" Fixed="true" Elevation="4" Class="re-action-bar">
    <div style="width: 250px; flex-shrink: 0;"></div>
    <MudButton Variant="Variant.Filled"
               Color="Color.Primary"
               StartIcon="@Icons.Material.Filled.Save"
               OnClick="OnSave"
               Disabled="@(IsSaving || !HasChanges || !EnableFileSaving)">
        @if (IsSaving)
        {
            <MudProgressCircular Size="Size.Small" Indeterminate="true" Class="mr-2" />
        }
        @UIStrings.ActionSave
    </MudButton>
    <MudButton Variant="Variant.Outlined"
               Color="Color.Inherit"
               StartIcon="@Icons.Material.Filled.Refresh"
               OnClick="OnReset"
               Disabled="@(IsSaving || !HasChanges)">
        @UIStrings.ActionReset
    </MudButton>
    @if (!EnableFileSaving)
    {
        <MudChip T="string" Color="Color.Info" Size="Size.Small" Icon="@Icons.Material.Filled.Info" Class="ml-2">
            File saving disabled
        </MudChip>
    }
    @if (HasChanges)
    {
        <MudChip T="string" Color="Color.Warning" Size="Size.Small" Icon="@Icons.Material.Filled.Edit" Class="ml-2">
            Unsaved changes
        </MudChip>
    }
</MudAppBar>

@code {
    [Parameter] public bool HasChanges { get; set; }
    [Parameter] public bool IsSaving { get; set; }
    [Parameter] public bool EnableFileSaving { get; set; } = true;
    [Parameter] public EventCallback OnSave { get; set; }
    [Parameter] public EventCallback OnReset { get; set; }
}
